.personal-account {
	display: grid;
	grid-template-areas: "personal-account__profile" "personal-account__data";
	grid-template-columns: 1fr;
	row-gap: 2rem;
}

.personal-account__profile {
	grid-area: personal-account__profile;
}

.personal-account__data {
	grid-area: personal-account__data;
}

.personal-account__user {
	display: grid;
	grid-template-areas: "personal-account__user-image" "personal-account__user-info";
	grid-template-columns: 1fr;
	row-gap: 2rem;
	align-items: center;
}

.personal-account__user-image {
	grid-area: personal-account__user-image;
	text-align: center;
}

.personal-account__user-info {
	grid-area: personal-account__user-info;
	margin-bottom: 4rem;
}

.personal-account__avatar-image {
	width: 200px;
	height: 200px;
	border: 8px solid transparent;
	border-radius: 50%;
	background-image: linear-gradient(#1f99d6, white),
		radial-gradient(circle at 30% 107%, #ffce00 0%, #fdf497 5%, #1f99d6 45%, #ffce00 60%, #e74b0f 90%);
	background-origin: border-box;
	background-clip: content-box, border-box;
}

.personal-account__user-name {
	font-size: 1.5em;
	font-weight: 700;
	text-align: center;
	margin-bottom: 1rem;
}

.personal-account__user-id {
	font-size: 1.5em;
	font-weight: 700;
	text-align: center;
}

.personal-account__user-items {
	margin-bottom: 4rem;
}

.personal-account__actions {
	text-align: center;
}

.personal-account__user-item-about {
	margin-top: 2rem;
	font-size: 1.2em;
}

@media only screen and (min-width: 992px) {
	.personal-account {
		grid-template-areas: "personal-account__profile personal-account__data";
		grid-template-columns: 1fr 1fr;
		gap: 2rem;
	}

	.personal-account__user {
		grid-template-areas: "personal-account__user-image personal-account__user-info";
		grid-template-columns: 1fr 1fr;
		row-gap: 2rem;
		margin-bottom: 4rem;
	}

	.personal-account__user-info {
		margin: 0;
	}
}

@media only screen and (min-width: 1400px) {
	.personal-account {
		grid-template-areas: "personal-account__profile personal-account__data";
		grid-template-columns: 1fr 1.5fr;
		gap: 4rem;
	}

	.personal-account__avatar-image {
		width: 250px;
		height: 250px;
	}
}
