.site-account-user-data-form {
	max-width: 500px;
}

.site-account-user-data-form__fieldset {
	padding: 1rem;
	box-shadow: 0 0 10px #dbdbdb;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#edit-field-image {
	display: grid;
	grid-template-columns: 1fr 0.4fr;
}
