{{ attach_library('site_account/module') }}

<div class="personal-account">

	<div class="personal-account__profile">

    {# Основные данные пользователя: фотография, имя, ID профиля. #}
		<div class="personal-account__user">

			<div class="personal-account__user-image">
        {% if user.user_picture %}
          <img alt="{{- user.fio -}}" class="personal-account__avatar-image" src="{{ user.user_picture }}">
        {% else %}
          {{ 'Set the default image in the user profile settings.'|t }}
        {% endif %}
      </div>

			<div class="personal-account__user-info">
        <div class="personal-account__user-name">{{- user.fio -}}</div>
        <div class="personal-account__user-id">{{ 'Your ID'|t }}: {{ user.id }}</div>
      </div>

		</div>

    {# Прочие данные пользователя #}
    <div class="personal-account__user-items">
      <div class="personal-account__user-item personal-account__user-item-login">{{ 'Login'|t }}: {{ user.login }}</div>
      {% if user.field_email_office and user.field_email_office != user.login %}
        <div class="personal-account__user-item personal-account__user-item-login">E-mail: {{ user.field_email_office }}</div>
      {% endif %}
      {% if user.field_about %}
        <div class="personal-account__user-item personal-account__user-item-about">{{- user.field_about -}}</div>
      {% endif %}
    </div>

    {# Кнопка редактирование профиля #}
    <div class="personal-account__actions">
      <a class="button button--primary" href="{{ path('site_account.personal_account_edit') }}">{{ 'Edit personal data'|t }}</a>
      <a class="button button--exit" href="/user/logout">{{ 'Logout'|t }}</a>
    </div>

	</div>

	<div class="personal-account__data">
    {{ dashboards }}
  </div>

</div>
