<div class="dashboard-wrapper">
  {% if label %}
    <div class="dashboard-wrapper__label">
      {{ label }}
    </div>
  {% endif %}
  <div class="dashboard-wrapper__data">
    {{ data }}
  </div>
</div>
